@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'NanumBarunpen';
    background-color: #F2C6AC;
    color: #333;
}

/* header */
header {
    margin-left: 60px;
    margin-top: 60px;
}

header h1 {
    font-size: 60px;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    margin: 50px 60px;
}

/* inputs */

.inputs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.inputs input {
    width: 80%;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.add_btn {
    width: 20%;
    padding: 10px;
    border: none;
    font-family: 'NanumBarunpen';
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.add_btn:hover {
    background-color: #58658C;
    color: #fff;
}

/* itmes */

.items {
    display: flex;
    margin-bottom: 30px;
}

ul {
    width: 100%;
}


.items ul li {
    position: relative;
    background-color: #a2a88b;
    cursor: pointer;
    padding: 10px 10px 10px 40px;
    font-size: 18px;
    transition: 0.2s;

      /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.items ul li:nth-child(even) {
    background-color: #e9c08e;
}

.items ul li:hover {
    background-color: #fff;
}

.items ul li.checked {
    background-color: #F2C6AC;
    text-decoration: line-through;
}

.items ul li.checked::before {
    content: 'V';
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #eb4141;
}

.del_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
}

.del_btn:hover {
    background-color: #eb4141;
}


/* footer */

footer {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 20px 60px;
    background-color: #58658C;
    color: #FFF;
}

footer a {
    margin-left: 5px;
    color: #FFF;
    text-decoration: none;
}